.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 293px;
  height: 5px;
  border-radius: 4px;
  margin: 4px;
  outline: none;
  padding: 0;
  touch-action: pan-y; /* Allow only vertical panning */
  -webkit-overflow-scrolling: touch;

  /* By default 0% */
  --val: 0%;

  /* Common track */
  background:
    linear-gradient(180deg, #ffd100 0%, #997d00 100%) no-repeat,
    #1d1d1f;
  background-size:
    var(--val) 100%,
    100% 100%;
  background-repeat: no-repeat;

  /* Chrome track */
  &::-webkit-slider-runnable-track {
    height: 5px;
    border-radius: 2px;
    background-color: transparent;
  }

  /* Chrome thumb */
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background: url('./slider-thumb.png') no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
    margin-top: -13px;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  /* Firefox thumb */
  &::-moz-range-thumb {
    width: 32px;
    height: 32px;
    background: url('./slider-thumb.png') no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
  }

  /* Firefox track */
  &::-moz-range-track {
    height: 5px;
    border-radius: 2px;
    background: #1d1d1f;
  }

  /* Firefox progress range */
  &::-moz-range-progress {
    height: 5px;
    border-radius: 2px;
    background: linear-gradient(180deg, #ffd100 0%, #997d00 100%);
  }

  @media screen and (max-width: 900px) {
    width: 100%;
  }
}
