body {
  margin: 0;
  font-family: Arial, sans-serif;

  .app {
    display: flex;
    flex-direction: column;
    width: 100dvw;
    min-height: 100dvh;
    color: #fff;
    background-color: transparent;
  }
}
