html {
  scrollbar-gutter: stable;
  background-color: #000;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
header,
p,
ul,
li,
div,
button,
body,
table,
th,
tr,
td {
  margin: 0;
  padding: 0;
}

p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

button,
a,
[role='button'],
input,
textarea {
  -webkit-tap-highlight-color: transparent; /* Disable tap highlight */
  outline: none; /* Disable outline */
}

input {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding-left: 10px;
  font-size: 16px;
  line-height: 20px;

  &::placeholder {
    color: #a7a5a5;
  }
}

button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

article {
  &.app-container {
    position: relative;
    display: flex;
    flex-direction: column;
  }
}

/* does not allow to select/highlight text */
.no-text-select {
  user-select: none; /* Standard prop from browsers */
  -webkit-user-select: none; /* for Safari & old versions of Chrome */
  -moz-user-select: none; /* for Firefox */
  -ms-user-select: none; /* for Internet Explorer/Edge */
}
