.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: end;
  width: 100%;
  background-color: transparent;
  color: rgb(159, 159, 159);
  padding: 10px 0;
  font-family: 'Roboto', sans-serif;
}

.line {
  display: flex;
  align-items: center;
  gap: 10px;

  p {
    margin: 0;
  }

  a {
    display: flex;
    width: fit-content;
    svg {
      fill: rgb(159, 159, 159);
    }

    &:hover {
      svg {
        fill: #008cff;
      }
    }
  }
}
