.modalNavigator {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  min-width: 250px;
  max-width: 400px;
  height: 100%;
  background: #121212;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
  z-index: 50;

  &.isHidden {
    transform: translateX(100%);
  }

  .list {
    padding-top: 100px;
    padding-left: 100px;
    font-family: 'Roboto', sans-serif;
    font-family:
      Roboto Condensed,
      Arial Narrow,
      Arial,
      Helvetica CY,
      Helvetica,
      sans-serif;
    font-weight: 500;
    font-size: 12px;

    li {
      height: 50px;
      text-decoration: none;
      position: relative;
      padding: 0;
      font-weight: 500;
      list-style: none;
      color: #fff;

      a {
        text-decoration: none;
        color: #fff;

        &:visited {
          color: #fff;
        }

        &:hover {
          color: #ea0000;
        }

        &.selected {
          color: #ea0000;
        }
      }
    }

    @media screen and (max-width: 640px) {
      padding-left: 36px;
    }
  }
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;

  svg {
    fill: var(--clr-white, #fff);
  }

  &:hover {
    svg {
      fill: var(--clr-red, red);
    }
  }
}
